@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../public/futura-font/style.css";

body {
  background-color: #eee;
}

.server {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  select {
    appearance: none; /* Removes browser's native styles */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
  }
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }

  img {
    max-height: 100%;
  }

  input,
  textarea,
  select {
    @apply border h-10 border-[#d8b4fe3e] bg-transparent  px-1 w-full text-[#0000009d] font-futura text-sm  tracking-wide;
    @apply mb-2;
  }
  textarea {
    @apply h-20;
  }

  input:focus,
  textarea:focus,
  select:focus {
    @apply border-2 border-purple-300 outline-none;
  }
  h1 {
    @apply text-white mb-2 text-xl font-bold;
  }
  .btn-primary {
    @apply bg-[gray] text-white px-4 rounded-md py-1;
  }

  table.basic {
    @apply w-full bg-white text-black rounded-sm shadow-md;
  }
  table.basic thead tr td,
  table.basic thead tr th {
    @apply text-sm text-gray-600 uppercase border-b-[3px] border-gray-500 px-4 py-3 border-t border-t-[#31303022];
  }
  table.basic tr td {
    @apply px-4 py-2;
  }
  table.basic a {
    @apply px-4 rounded-sm bg-white text-gray-800  mx-1 items-center border border-gray-200 shadow-sm gap-1 text-sm py-1 inline-flex;
  }
  table.basic a:nth-of-type(2),
  .btn-red {
    @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm shadow-sm;
  }
  .btn-default,
  .btn-red {
    @apply px-4 py-1 rounded-md;
  }
  .btn-red {
    @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm shadow-sm;
  }
  .btn-default {
    @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 shadow-sm;
  }

  .checkbox-container {
    display: inline-block;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0.2em;
    min-width: 4rem;
    text-align: center;
    letter-spacing: 1px;
  }

  .checkbox-container input[type="checkbox"] {
    display: none;
  }

  .checkbox-container.selected {
    background-color: gray;
    color: white;
    border: 1px solid black;
  }

  select {
    background-color: transparent;
    font-size: 16px;
    color: white;
  }

  option {
    background-color: #000000ec;
    color: white;
  }

  label {
    @apply text-gray-500 font-semibold text-sm tracking-wide;
  }

  .picDiv label {
    display: none;
  }

  .picDiv:hover label {
    display: block;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
